.centrar{
    text-align: center;
}
.colorFondoAzul{
    background-color: #8181a0;
}
.colorAzul{
    color: #8181a0;
}
.colorAzulOscuro{
    color: #383875;
}
.colorRojo{
    color: red;
}
.centrarForm{
    margin-left: 20%;
}
.botonesCabecera{
    margin-top: 10%;
}